<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=WSGMUMDTO00206; Initial Catalog=flicboxPWC; User Id=sa; pwd=writer@123;" providerName="System.Data.SqlClient"/>
    <!--<add name="conStr" connectionString="Data Source=.\sqlexpress; Initial Catalog=flicboxPWC; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conStr" connectionString="Data Source=.; Initial Catalog=flicboxPWC; User Id=sa; pwd=prasad@2017$#;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
